* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-image: linear-gradient(rgba(0,0,0,0.34), rgba(0,0,0,0.85)), url(https://images.hdqwalls.com/wallpapers/8-bit-city-m2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  margin-bottom: 1rem;
}

.header-box {
  margin: 0 auto 3rem auto;
  padding: 2rem;
  text-align: center;
  border-radius: 50%;
}

.logo {
  margin-bottom: 1rem;
}
.logo img {
  max-width: 60%;
  object-fit: cover;
}

#description {
  margin-bottom: 0;
  color: #e0e8ff;
  font-size: 1rem;
  margin-top: 0.7rem;
}

.container {
  display: flex;
  gap: 2rem;
  max-width: 1200px;
  margin: auto;
  flex-wrap: wrap;
}

.form-section {
  flex: 1;
  background-color: 
  padding: 2rem;
  border-radius: 16px;
  color: #fff;
  margin: 30px 30px;
}

label {
  display: block;
  margin-bottom: 0.3rem;
  font-weight: 600;
  color: #eee;
  margin-top: 1rem;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #3399ff;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.9);
  font-size: 1rem;
  color: #222;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: #66b3ff;
  background-color: #fff;
  color: #000;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 0.5rem;
}

form p {
  margin-top: 1.5rem;
  font-weight: 600;
  color: #ddd;
}

textarea {
  resize: vertical;
  min-height: 100px;
  color: #222;
}

#submit {
  margin-top: 2rem;
  width: 100%;
  padding: 1rem;
  background-color: #3399ff;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s;
  box-shadow: 0 4px 8px rgba(51, 153, 255, 0.6);
}

#submit:hover {
  background-color: #1a75ff;
  box-shadow: 0 6px 12px rgba(26, 117, 255, 0.8);
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .form-section {
    margin-top: 2rem;
  }
}
